/* Common styles for both mobile and desktop */
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
   
  }
  
  .popup.active {
    display: flex;
  }
   .card-container {
    display: flex;
    flex-direction: column;
    align-items:start; 
   
  }
  
  .card.msno {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:rgba(165, 42, 42, 0.726);
    color:white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: small;
    font-family: sans;
    margin-top: -50px;
    font-weight: bold;
    width: 100%;
  } 
  
  .error-card {
    border: 2px solid #d4af37;
    padding: 20px;
    margin: -10px;
    text-align: center;
    white-space: pre-line;
  }
  
  .error-card a {
    color: blue; /* Change the link text color */
  }
  
  
  
  
  /* Style for the popup content */
  .popup-inner {
    background-color: white;
    padding: 30px;
    width: 300px; /* Set a fixed width for the popup */
    height: auto; /* Set a fixed height for the popup */
    overflow-y: auto; /* Add scrollbars if content exceeds the height */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  /* Styles for the close button */
  .popup-close {
    position: absolute;
    top: -10px;
    right: 5px;
    cursor: pointer;
    font-size: 28px;
    color: #614119;
    font-weight: bold;
  }
  
  /* Styles for rows (fields and buttons in one row) */
  .popup-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add margin to separate rows */
  }
  
  /* Styles for input fields within rows */
  .popup-row input[type="text"] {
    width: 100%;
    border: 2px solid aliceblue;
    padding: 10px;
    
  }
  
  /* Styles for buttons within rows */
  .popup-row button {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    color: white;
    background-color: brown;
    cursor: pointer;
    border-radius: 10px;
  }
 .resend-otp-button{
    width: 80%;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    color: white;
    background-color: brown;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  @media (max-width: 768px) {
    /* Mobile styles */
    .popup-inner {
      width: 80%; /* Adjust the width as needed for mobile view */
    }
  }


  
  

  

  